# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# IMPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
importFrom("R.methodsS3", "throw")
importFrom("R.methodsS3", "setMethodS3")

import("R.oo")

import("R.utils")
## importFrom("R.utils", "Arguments")
## importFrom("R.utils", "loadObject")
## importFrom("R.utils", "isFile")
## importFrom("R.utils", "enter")

importFrom("R.cache", "loadCache")
importFrom("R.cache", "saveCache")

importFrom("matrixStats", "anyMissing")
importFrom("matrixStats", "rowAlls")
importFrom("matrixStats", "rowMins")
importFrom("matrixStats", "colDiffs")
importFrom("matrixStats", "colSds")
importFrom("matrixStats", "weightedMedian")

## import("PSCBS")
importFrom("PSCBS", "dropSegmentationOutliers")
importFrom("PSCBS", "findLargeGaps")
importFrom("PSCBS", "gapsToSegments")
importFrom("PSCBS", "getChromosomes")
importFrom("PSCBS", "getLocusData")
importFrom("PSCBS", "getSegments")
importFrom("PSCBS", "nbrOfSegments")
importFrom("PSCBS", "getMeanEstimators")
importFrom("PSCBS", "postsegmentTCN")
importFrom("PSCBS", "extractC1C2")
importFrom("PSCBS", "extractDhSegment")
importFrom("PSCBS", "estimateDeltaAB")
importFrom("PSCBS", "estimateKappa")
importFrom("PSCBS", "segmentByCBS")
importFrom("PSCBS", "segmentByPairedPSCBS")
importFrom("PSCBS", "callROH")
importFrom("PSCBS", "callAB")
importFrom("PSCBS", "callLOH")
importFrom("PSCBS", "callCopyNeutral")
importFrom("PSCBS", "extractLocusLevelTCN")
importFrom("PSCBS", "extractLocusLevelC1C2")
importFrom("PSCBS", "dropRegions")
importFrom("PSCBS", "mergeTwoSegments")
importFrom("PSCBS", "setSampleName")
importFrom("PSCBS", "plotTracks2")
importFrom("PSCBS", "plotC1C2")
importFrom("PSCBS", "linesC1C2")
importFrom("PSCBS", "drawLevels")

# import("aroma.core")

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# FUTURE IMPORTS, but from now we don't import these packages
# because they are not available on CRAN.
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
## import("aroma.light")


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# EXPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Object that must exported explicitly
export(.conflicts.OK)

# Export all public methods, that is, those without a preceeding dot
# in their names.
exportPattern("^[^\\.]")


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# DECLARATIONS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
S3method("testAllelicBalanceByBAFs", "default")
S3method("calculatePairedPSCNByGenotype", "numeric")
S3method("calculatePairedPSCNByGenotype", "data.frame")
S3method("calculateTumorPSCNByGenotypeUsingCTCN", "numeric")
S3method("callXXorXY", "numeric")
S3method("fitLoessKD", "matrix")
S3method("fitLoessKD", "data.frame")
S3method("normalizeLoessKD", "matrix")
S3method("normalizeLoessKD", "data.frame")
S3method("normalizeMirroredBAFsByRegions", "matrix")
S3method("normalizePrincipalCurve", "matrix")
S3method("fitDeltaXYShearModel", "matrix")
S3method("extractC1C2", "list")
